@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter Regular";
  src: url("/fonts/Matter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Matter Mono Regular";
  src: url("/fonts/MatterMono-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.025em !important;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

strong {
  font-weight: 600 !important;
}

::-moz-selection {
  color: #000000;
  background: #e4eb79;
}

::selection {
  color: #000000;
  background: #e4eb79;
}
